nav{
    width: 100%;
    /* background: #484747; */
    color: #fff;
    padding: 40x 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 180px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #e2e2e2;
  color: black;
  padding: 10px 0;
  border-radius: 5px;
  min-width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 15px;
}

.dropdown-menu li a {
  color: black;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
