.institute-info {
  padding: 40px 20px;
  background-color: #121212;
  color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.institute-welcome {
  color: #ff8800;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.institute-intro,
.institute-description {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}

.benefits-title-ins {
  color: #ff8800;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 20px;
}

.benefits-list-ins {
  list-style-type: decimal;
  padding-left: 20px;
}

.benefits-list-ins li {
  margin-bottom: 15px;
  line-height: 1.6;
}
.register-subtitle {
  margin-top: 40px;
  font-size: 20px;
  color: orange;
  text-align: left;
}
.button-group-ins {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.btn-outline-blue-ins {
  padding: 12px 20px;
  border: 2px solid #00ffff;
  color: #00ffff;
  background-color: transparent;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-outline-blue-ins:hover {
  background-color: #00ffff;
  color: #000000;
}


